@charset "utf-8";

$spacing-unit: 30px;

$pastelColor: #9dc4f6;
$lightAccentColor: #457fca;
$darkAccentColor: #5691c8;

$csstyle-part-symbol: '\\/';
$csstyle-root-id: 'twostream';

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "normalize",
    "github-light",
    "base",
    "syntax-highlighting"
;
